@font-face {
  font-family: Nunito;
  src: url('/../assets/font/nunito/Nunito-Regular.ttf') format("opentype");
}
@font-face {
  font-family: Nunito-Bold;
  src: url('/../assets/font/nunito/Nunito-Bold.ttf') format("opentype");
}
@font-face {
  font-family: Nunito-ExtraLight;
  src: url('/../assets/font/nunito/Nunito-ExtraLight.ttf') format("opentype");
}
@font-face {
  font-family: Nunito-Light;
  src: url('/../assets/font/nunito/Nunito-Light.ttf') format("opentype");
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url('/../assets/font/nunito/Nunito-SemiBold.ttf') format("opentype");
}
