.dialog {
  position: relative;
  width: 330px;
  text-align: center;
  .close {
    position: absolute;
    top: -22px;
    right: -10px;
    width: 30px;
    height: 30px;
  }
  .label, .mat-form-field {
    width: 330px;
    textarea {
      height: 200px;
    }
  }
}
