h1 {
  display: block;
  margin-bottom: 15px;
}

.label, .mat-form-field {
  display: block;
  margin-bottom: 10px;
  textarea {
    height: 200px;
  }

}

.icon {
  cursor: pointer;
  user-select: none;
}



